@model CyberBlog.Entities.Article
@{
    ViewData["Title"] = "Article";
    Layout = null;
    string coverImageName = Model.CoverImage;
    string paragraphImageName = Model.Image1;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CyberBlog</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/article.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CyberBlog.styles.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/js/all.min.js" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>

<body>
    <div class="sample-header" style="background-image: url('http://localhost:5071/images/@coverImageName')">
      <div class="sample-header-section">
        <h1>@Model.Title</h1>
        <h6>@Model.Description </h6>
      </div>
    </div>
    <div class="sample-section-wrap">
      <div class="sample-section">
        <p><b>@Model.Topic </b></p>
        <br />
        <p>@Model.Paragraph1 </p>

        <p>@Model.Paragraph2</p>

            @if ( paragraphImageName != null) {
                <img alt="blog" class="slika" src="http://localhost:5071/images/@paragraphImageName">
            }


        <p>@Model.Paragraph3</p>

        <p>@Model.Paragraph4</p>

      </div>
    </div>

    <footer id="sticky-footer" class="flex-shrink-0 py-4 bg-dark text-white-50">
    <div class="footer-design">
        <ul class="social_footer_ul">
            <li><small>Copyright &copy; Cyber Blog</small></li>
            <li><a href="#"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
        </ul>
    </div>

</footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/article.js" asp-append-version="true"></script>
</body>
</html>